{% load gravatar %}

{% if request.user.is_authenticated %}
  <form class="add-comment-form mb-3 mt-3" data-question-id="{{ question_id }}">
      {% csrf_token %}
      <div class="input-group">
        <img src="{% gravatar_url user.email 30 %}" alt="{{ user.name }}" class="rounded-circle mr-2" style="margin-right: 1rem;"> 
        <input type="text" class="form-control" name="content" id="inputGroupFile04" placeholder="Add comment..." aria-describedby="inputGroupFileAddon04" aria-label="Comment">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Add Comment</button>
      </div>
  </form>
{% endif %}

{% for comment in comments %}
    <div class="card mb-2">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <img src="{% gravatar_url comment.author.email 30 %}" alt="{{ comment.author.name }}" class="rounded-circle mr-2" style="margin-right: 1rem;"> 
            <div>
                <h6 class="card-subtitle mb-0">{{ comment.author.username }}</h6>
                <small class="text-muted">{{ comment.created_at }}</small>
            </div>
        </div>
            <p class="card-text">{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}

<script>
$('.add-comment-form').submit(function(e){
    e.preventDefault();
    var form = $(this);
    var questionId = form.data('question-id');
    var commentsDiv = $('#comments-'+questionId);
    console.log(questionId)

    $.ajax({
      type: 'POST',
      url: '{% url "add_comment" %}',
      data: {
        'question_id': questionId,
        'content': form.find('input[name="content"]').val(),
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
      },
      success: function(data){
        commentsDiv.append(data);
        form.find('input[name="content"]').val('');
      },
      error: function(){
        alert('Anerror occured while adding your comment.')
      }
    })
  }) 
</script>     