{% load gravatar %}
{% load fontawesome_5 %}
{% load bootstrap5 %}

<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <img
        src="{% gravatar_url comment.author.email 30 %}"
        alt="{{ comment.author.name }}"
        class="rounded-circle mr-2"
        style="margin-right: 1rem"
      />
      <div>
        <h6 class="card-subtitle mb-0">{{ comment.author.username }}</h6>
        <small class="text-muted">{{ comment.created_at }}</small>
      </div>
    </div>
    <p class="card-text">{{ comment.content }}</p>
    {% if comment.author == request.user %}
    <a
      href="#"
      class="btn btn-outline-primary edit-button editComment"
      data-comment-id="{{ comment.id }}"
      data-comment-content="{{ comment.content }}"
      data-bs-toggle="modal"
      data-bs-target="#editCommentModal"
    >
      <i class="fas fa-pen-fancy" title="edit comment"></i>
    </a>
    <a
      href="{% url "delete_comment" comment.id %}"
      class="btn btn-outline-danger delete-button"
      data-comment-id="{{ comment.id }}"
    >
      <i class="fas fa-trash" title="delete comment"></i>
    </a>
    {% endif %}
  </div>
</div>

<div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCommentModalLabel">Edit Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row gap-2">
          <form id="editCommentForm" method="post" class="form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="editCommentFormControlLabel" class="form-label">Content</label>
              <textarea class="form-control" id="editComment" name="content"></textarea>
            </div>
            <input type="hidden" id="comment_id" name="comment_id">
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
  var editCommentModal = new bootstrap.Modal(document.getElementById('editCommentModal'));

    $('.editEdit').click(function(){
      var comment_id = $(this).data('comment-id');
      var commentContent = $(this).data('comment-content');

      $('#comment_id').val(comment_id);
      $('#editComment').val(commentContent);
    
      editCommentModal.show();
    })

    // Event listener for the modal show event to make sure the form is populated correctly
    $('#editCommentModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var commentId = button.data('comment-id');
      var commentContent = button.data('comment-content');
      
      var modal = $(this);
      modal.find('#comment_id').val(commentId);
      modal.find('#editComment').val(commentContent);
    });

    $('#editCommentForm').submit(function(e){
      e.preventDefault();
      var formData = $(this).serialize();
      var commentId = $('#comment_id').val();
      var url = `/update-comment/${commentId}/`;


      $.ajax({
        type:'POST',
        url: url,
        data: formData,
        success: function(response){
          if (response.success){
            window.location.reload();
          }else{
            alert('Failed to edit comment')
          }
        },
        error:function(){
          editCommentModal.hide();
        }
      });
    });
  })
</script>
