{% load fontawesome_5 %}
<!-- THIS IS A FOOTER -->
<footer class=" footer container-d-flex justify-content-center align-items-center bg-primary text-light py-4">
  <div class="container">
    <div class="row">
      <!-- About Us -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">About Us</h5>
        <p class="mb-0 text-light">
          JustAsk is a platform where users can ask questions, share knowledge, and connect with others.
        </p>
      </div>
      <!-- Contact -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:contact@justask.com" class="text-decoration-none text-light">Email: contact@justask.com</a>
          </li>
        </ul>
      </div>
      <!-- Social Media -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://facebook.com" class="text-decoration-none text-light" target="blank">
              <i class="fab fa-facebook-f h5"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com" class="text-decoration-none text-light" target="blank">
              <i class="fab fa-twitter h5"></i> Twitter
            </a>
          </li>
          <li>
            <a href="https://linkedin.com" class="text-decoration-none text-light" target="blank">
              <i class="fab fa-linkedin-in h5"></i> LinkedIn
            </a>
          </li>
          <li>
            <a href="https://instagram.com" class="text-decoration-none text-light" target="blank">
              <i class="fab fa-instagram h5"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
      <!-- Quick Links -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}" class="text-decoration-none text-light">Home</a>
          </li>
          <li>
            <a href="{% url 'home' %}" class="text-decoration-none text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Ask a Question</a>
          </li>
          <li>
            <a href="{% url 'home' %}" class="text-decoration-none text-light">Categories</a>
          </li>
          <li>
            <a href="{% url 'home' %}" class="text-decoration-none text-light">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-3">
    <div class="text-center">
      <p class="mb-0 text-light">JustAsk &copy; 2024 | All Rights Reserved.</p>
    </div>
  </div>
</footer>
  