{% load bootstrap5 %}
{% load fontawesome_5 %}
{% load static %}
{% load gravatar %}



{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustAsk</title>
    {% fontawesome_5_static %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo on the left -->
        <a class="navbar-brand" href="{% url 'home' %}">JustAsk</a>

        <!-- Search in the middle -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSearch">
            <form class="d-flex" method='get' action="{% url 'home' %}">
                <input name="q" value="{{query}}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <!-- Profile on the right -->
        <div class="d-flex align-items-center">
            {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% gravatar_url user.email 30 %}" alt="{{ user.name }}" class="rounded-circle" style="margin-right: 0.2rem;">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' user.pk %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
      <div class="mt-5">
      {% block content %} {% endblock content %}
      </div>
    </body>
</html>